*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline:none;
    text-decoration: none;
    font-family: Georgia;
    line-height: 1.5;

}

html{
    scroll-behavior: smooth;
    font-size: 75%;
    overflow-x: hidden;
}

body{
    padding-left: 20rem;
     
    height: 900px;
    opacity: 1000;
    background-color: darkgray;
}

section{
    padding:1rem 5%;
    min-height: 100vh ;
}

header{
    background: black;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    justify-content: space-around;
    display: flex;
    align-items: center;
    padding:6rem 2rem;
    flex-flow: column;
    width: 25rem;
    text-align: center;
}

header .logo{
    text-transform: uppercase;
    font-size: 3rem;
    font-weight: bolder;
}

header  .navbar a{
    display:block;
    font-size: 2rem;
    margin: 3rem 0;
}

header .navbar a:hover{
    background-color: white;
    box-shadow: 0 0 40px limegreen;
    letter-spacing: .1.5rem ;
}

header .follow a{
    margin: 0 .7rem;
    font-size:2rem;
}

header .follow a:hover{
    box-shadow: 0 0 40px limegreen;
    background-color: white;
}

#menu-bars{
    position: fixed;
    top: 1rem;
    right: 1.2rem;
    color: blue;
    padding: 1rem 1.5rem;
    font-size: 3rem;
    background-color: black;

}
#menu-bars:hover{
    background-color: white;
    box-shadow: 0 0 40px limegreen;
    letter-spacing: .1.5rem ;
}

.home{
    display: flex;
    align-items: center;
    padding-left: 30%;
    color:white;
    font-size: 3rem;
    font-weight: bolder;
}

.about{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 20px;
    margin-bottom: 50px;
    padding-left: 15%;

}

.pic{
    display: flex;
}

.pic img{
    width: 575px;
    height: 400px;
}

.intro{
    display: flex;
    text-align: justify;
    flex-direction: column;
    padding: 20px;
    font-size: 2rem;
}






















@media (max-width:1000px){

    html{
        font-size: 60%;

    }

    body{
        padding:0 ;
    }

    #menu-bars{
        display: initial;
    }
      
    header{
        left: -120%;
    }

    header.active{
        left: 0;
    }
}